/* ===== Google Font Import - Raleway ===== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  transition: all 0.4s ease;
  ;
}


/* ===== Colours ===== */
:root {
  --body-color: #E4E9F7;
  --nav-color: rgb(85, 133, 135);
  --side-nav: rgb(85, 133, 135);
  --text-color: #FFF;
  --red-color: #885050;
  --yellow-color: #faf0a6;
}

body {
  height: 100vh;
  background-color: var(--body-color);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  font-size: 10px;
  display: flex;
  width: 100px;
  height: auto;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  display: flex;
  font-size: 14px;
  align-items: center;
  text-align: center;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  padding: 5px;
  transition: color .2s;
}

.nav-links li a:hover {
  color: var(--yellow-color);
}

@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.4s ease;
  }

  nav.active .menu {
    left: -0%;
  }

  nav.active .nav-bar .navLogo a {
    /* opacity: 0; */
    transition: all 0.3s ease;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .siderbarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }

  .nav-links li a {
    display: block;
    margin-top: 20px;
  }

  .nav-links li a:hover {
    background-color: var(--red-color);
    border-radius: 5px;
    width: 200px;
  }
}

@media (max-width: 500px) {
  .menu {
    width: 100%;
  }
}

.logo__img {
  width: 100%;
}

.item__button {
  border: 2px solid transparent;
  padding: 8px;
  margin-left: 5px;
  border-radius: 0.35em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: rgb(85, 133, 135);
  text-align: center;
  transition: background-color 0.3s;
  background-color: var(--yellow-color);
}

.item__button:hover {
  background-color: var(--red-color);
  color: #fff;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 90px;

  background-color: rgba(100, 166, 169, 0.3);
}

.header {
  background-size: cover;
  background-image: url(./img/iStock-1169662101.jpg);
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

/* PHONE */
@media (max-width: 500px) {
  .header {
    background-position: calc(100vh - 150px);
    margin-bottom: 60px;
  }
}

@media (min-width: 500px) {
  .header {
    background-position: 100%;
  }
}


.header__title {
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 1.5px;
  text-align: center;

  color: #fff;
}

.button__join {
  margin: 3px;
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 10px;
}

.arrows path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
  {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari 和 Chrome */
}