.item__button {
    display: none; 
  }
  
  @media (min-height: 100vh) {
    .item__button {
      display: block;
      border: 2px solid transparent;
      padding: 8px;
      margin-left: 5px;
      border-radius: 0.35em;
      box-sizing: border-box;
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      color: rgb(85, 133, 135);
      text-align: center;
      transition: background-color 0.3s;
      background-color: var(--yellow-color);
    }
  
    .item__button:hover {
      background-color: var(--red-color);
      color: #fff;
    }
  }