.home__quote {
  text-align: center;
  margin-top: 10px;
}

.home__quote h1:first-child {
  font-weight: 500;
}

.home__quote-blue {
  font-weight: 600;
  margin-top: 5px;
  color: var(--nav-color);
}

/* .home__quote::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -29%;
  transform: translateX(-50%);
  height: 2.2px;
  width: 90%;
  border-radius: 10px;
  background-color: var(--nav-color);
  opacity: 1;
  transition: all 0.3s ease;
} */

.home__personal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  font-size: 12px;
  font-weight: 600px;

  padding: 0px 5px;
  margin: 0px 10px;
  margin-top: 15px;

  background-color:  rgba(100, 166, 169, 0.2);
  border-radius: 10px;
}

.home__quote-personal--img {
  background-image: url(../../img/photo/home_quote.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
}

.home__quote-personal {
  float: right;
  width: 60%;
  padding: 5px 5px;
}

.home__text {
  font-size: 19px;
  margin: 0px 15px;
}

/* .home__text:last-child {
  margin-bottom: 20px;
} */

.home__text span {
  font-weight: 500;
}

@media (min-width: 500px) {
  /* .home__quote::before {
    bottom: -21%;
    height: 2.6px;
  } */

  .home__quote {
    font-size: 16px;
    margin-top: 20px;
  }

  .home__personal {
    font-size: 14px;
    padding: 10px 5px;
  }

  .home__quote-personal--img {
    width: 140px;
    height: 140px;
  }

  .home__text {
    font-size: 22px;
  }
}

@media (min-width: 720px) {
  .home__quote::before {
    bottom: -24%;
    width: 80%;
    max-width: 1000px;
  }

  .home__quote {
    font-size: 18px;
  }

  .home__personal {
    font-size: 16px;
  }

  .home__text {
    font-size: 24px;
  }
}