.results--section-container {
  justify-content: start;
}

.results__quote {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.results__quote h1:first-child::before, .results__quote h1:first-child::after {
  background-color: var(--nav-color);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.results__quote h1:first-child::before {
  right: 0.5em;
  margin-left: -50%;
}

.results__quote h1:first-child::after {
  left: 0.5em;
  margin-right: -50%;
}

.results__quote h1:first-child {
  font-weight: 500;
}

.results__text {
  font-size: 24px;
  margin: 0px 15px;
}

.results__text span {
  font-weight: 600;
}

.results__text--and-icon {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.results__icon {
  border: 2px solid var(--nav-color);
  border-radius: 50%;
  padding: 7px;
  margin-left: 10px;
}

.results__list {
  margin-top: 20px;
  list-style: none;
  max-width: 50%;
  padding: 0;
}

.results__item {
  display: flex;
  align-items: start;
  /* margin-bottom: 20px; */
}

.number {
  background-color: var(--nav-color);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  /* margin-top: 5px; */
}

.content {
  flex: 1;
  font-size: 20px;
}

.results__text:last-child {
  margin-bottom: 20px;
}

.results__text span {
  font-weight: 500;
}

@media (min-width: 500px) {
  .results__quote {
    font-size: 16px;
    margin-top: 20px;
  }

  .results__text {
    font-size: 22px;
  }
}

@media (min-width: 720px) {
  .results__quote {
    font-size: 18px;
  }

  .results__text {
    font-size: 24px;
  }
}

.results__text--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.results__text--img {
  width: 350px;
  height: 350px;
  border-radius: 1%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
  margin-bottom: 10px;
}

.content {
  font-size: 20px;
}

@media (max-width: 790px) {
  .results__text {
    font-size: 19px;
  }

  .results__text--container {
    flex-direction: column;
    align-items: center;
  }

  .results__text:last-child {
    margin-bottom: 20px;
  }

  .results__list {
    margin-top: 10px;
    max-width: 100%;
  }

  .results__text--img {
    margin-bottom: 0;
  }

  .content {
    font-size: 19px;
  }
}

.results__text--and-icon .results__text {
  margin-bottom: 0;
}

