/* ===== Google Font Import - Raleway ===== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  transition: all 0.4s ease;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  color: var(--text-color--dark);
}